<a href="https://colab.research.google.com/github/zwellman99/Rideshare-Driver-Model-Recommendation/blob/main/Expected_Cost_Function.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


Uber and Lyft Dataset Boston, MA | Kaggle (57 columns, 60k rows)
https://www.kaggle.com/datasets/brllrb/uber-and-lyft-dataset-boston-ma

Uber Fares Dataset | Kaggle (9 columns, 200k rows)
https://www.kaggle.com/datasets/yasserh/uber-fares-dataset

In [2]:
!pip install -q kaggle
!pip install opendatasets
!pip install pandas
import opendatasets as od
import pandas as pd
import numpy as np
import os
from google.colab import drive

drive.mount('/content/drive')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: opendatasets in /usr/local/lib/python3.9/dist-packages (0.1.22)
Requirement already satisfied: kaggle in /usr/local/lib/python3.9/dist-packages (from opendatasets) (1.5.13)
Requirement already satisfied: tqdm in /usr/local/lib/python3.9/dist-packages (from opendatasets) (4.65.0)
Requirement already satisfied: click in /usr/local/lib/python3.9/dist-packages (from opendatasets) (8.1.3)
Requirement already satisfied: requests in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2.27.1)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2022.12.7)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (1.26.15)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.9/dist-packages (from kaggle->opendatasets) (8.0.1)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.9/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle->opendatasets) (3.4)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.9/dist-packages (from requests->kaggle->opendatasets) (2.0.12)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.9/dist-packages (1.4.4)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.18.5 in /usr/local/lib/python3.9/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.9/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.9/dist-packages (from python-dateutil>=2.8.1->pandas) (1.15.0)
Mounted at /content/drive

In [3]:
from kaggle.api.kaggle_api_extended import KaggleApi

In [4]:
od.download("https://www.kaggle.com/datasets/brllrb/uber-and-lyft-dataset-boston-ma")
os.chdir('/content/uber-and-lyft-dataset-boston-ma')
uber_df = pd.read_csv("rideshare_kaggle.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: blakeandersonw
Your Kaggle Key: ··········
Downloading uber-and-lyft-dataset-boston-ma.zip to ./uber-and-lyft-dataset-boston-ma

100%|██████████| 44.5M/44.5M [00:00<00:00, 60.0MB/s]

In [5]:
od.download("https://www.kaggle.com/datasets/yasserh/uber-fares-dataset")
os.chdir('/content/uber-and-lyft-dataset-boston-ma/uber-fares-dataset')
df = pd.read_csv("uber.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: blakeandersonw
Your Kaggle Key: ··········
Downloading uber-fares-dataset.zip to ./uber-fares-dataset

100%|██████████| 7.04M/7.04M [00:00<00:00, 86.2MB/s]

In [6]:
od.download("https://www.kaggle.com/datasets/mruanova/us-gasoline-and-diesel-retail-prices-19952021")
os.chdir('/content/uber-and-lyft-dataset-boston-ma/uber-fares-dataset/us-gasoline-and-diesel-retail-prices-19952021/')
gas_price_df = pd.read_csv("PET_PRI_GND_DCUS_NUS_W.csv")

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: blakeandersonw
Your Kaggle Key: ··········
Downloading us-gasoline-and-diesel-retail-prices-19952021.zip to ./us-gasoline-and-diesel-retail-prices-19952021

100%|██████████| 38.2k/38.2k [00:00<00:00, 17.3MB/s]

In [7]:
od.download("https://www.kaggle.com/datasets/adityadesai13/used-car-dataset-ford-and-mercedes?select=hyundi.csv")
os.chdir('/content/uber-and-lyft-dataset-boston-ma/uber-fares-dataset/us-gasoline-and-diesel-retail-prices-19952021/used-car-dataset-ford-and-mercedes')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: blakeandersonw
Your Kaggle Key: ··········
Downloading used-car-dataset-ford-and-mercedes.zip to ./used-car-dataset-ford-and-mercedes

100%|██████████| 1.10M/1.10M [00:00<00:00, 94.3MB/s]

{"username":"blakeandersonw","key":"5c7b7542c5ad7af0d6015b98bfa868b4"}

In [8]:
# create an instance of the Kaggle API client
api = KaggleApi()
api.authenticate()

In [9]:
# specify the download directory
output_dir = '/content/downloads'

In [10]:
# download the datasets to the specified directory
api.dataset_download_files(dataset='yasserh/uber-fares-dataset', path=output_dir, unzip=True)
api.dataset_download_files(dataset='brllrb/uber-and-lyft-dataset-boston-ma', path=output_dir, unzip=True)
api.dataset_download_files(dataset='mruanova/us-gasoline-and-diesel-retail-prices-19952021', path=output_dir, unzip=True)
api.dataset_download_files(dataset='adityadesai13/used-car-dataset-ford-and-mercedes', path=output_dir, force=True, unzip=True, quiet=False)

Downloading used-car-dataset-ford-and-mercedes.zip to /content/downloads

100%|██████████| 1.10M/1.10M [00:00<00:00, 103MB/s]

### **MPG vs. Car Make & Model**

---

This data will be used when we make use of our cost function in order to accurately predict how much it will cost each driver to drive for Rideshare companies.

In [190]:
os.chdir('/content/downloads')

In [191]:
# Download the different car companies' data
# Clean the data
# Delete any unused columns

from IPython.core.formatters import format_display_data
import pandas as pd
import numpy as np

audi_data1 = pd.read_csv("audi.csv")
bmw_data1 = pd.read_csv("bmw.csv")
ford_data1 = pd.read_csv("ford.csv")
hyundai_data1 = pd.read_csv("hyundi.csv")
merc_data1 = pd.read_csv("merc.csv")
skkoda_data1 = pd.read_csv("skoda.csv")
toyota_data1 = pd.read_csv("toyota.csv")
vauxhall_data1 = pd.read_csv("vauxhall.csv")
vw_data1 = pd.read_csv("vw.csv")

In [192]:
# delete extra columns
audi_data = audi_data1.drop(columns=['transmission', 'tax', 'engineSize'])
bmw_data = bmw_data1.drop(columns=['transmission', 'tax', 'engineSize'])
ford_data = ford_data1.drop(columns=['transmission', 'tax', 'engineSize'])
hyundai_data = hyundai_data1.drop(columns=['transmission', 'tax(£)', 'engineSize'])
merc_data = merc_data1.drop(columns=['transmission', 'tax', 'engineSize'])
skkoda_data = skkoda_data1.drop(columns=['transmission', 'tax', 'engineSize'])
toyota_data = toyota_data1.drop(columns=['transmission', 'tax', 'engineSize'])
vauxhall_data = vauxhall_data1.drop(columns=['transmission', 'tax', 'engineSize'])
vw_data = vw_data1.drop(columns=['transmission', 'tax', 'engineSize'])

# removing white space from all the columns
audi_data['model'] = audi_data['model'].str.strip()
bmw_data['model'] = bmw_data['model'].str.strip()
ford_data['model'] = ford_data['model'].str.strip()
hyundai_data['model'] = hyundai_data['model'].str.strip()
merc_data['model'] = merc_data['model'].str.strip()
skkoda_data['model'] = skkoda_data['model'].str.strip()
toyota_data['model'] = toyota_data['model'].str.strip()
vauxhall_data['model'] = vauxhall_data['model'].str.strip()
vw_data['model'] = vw_data['model'].str.strip()

# changing Petrol to Regular
audi_data.loc[audi_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
bmw_data.loc[bmw_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
ford_data.loc[ford_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
hyundai_data.loc[hyundai_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
merc_data.loc[merc_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
skkoda_data.loc[skkoda_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
toyota_data.loc[toyota_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
vauxhall_data.loc[vauxhall_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'
vw_data.loc[vw_data['fuelType'] == 'Petrol', 'fuelType'] = 'Regular'

# adding the company to all the dataframes
audi_data['carType'] = "Audi"
bmw_data['carType'] = "BMW"
ford_data['carType'] = "Ford"
hyundai_data['carType'] = "Hyundai"
merc_data['carType'] = "Mercedes"
skkoda_data['carType'] = "Skkoda"
toyota_data['carType'] = "Toyota"
vauxhall_data['carType'] = "Vauxhall"
vw_data['carType'] = "Volkswagen"

# reorder columns
audi_data = audi_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
bmw_data = bmw_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
ford_data = ford_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
hyundai_data = hyundai_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
merc_data = merc_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
skkoda_data = skkoda_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
toyota_data = toyota_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
vauxhall_data = vauxhall_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]
vw_data = vw_data[['carType', 'model', 'year', 'mpg', 'fuelType', 'price', 'mileage']]

# check for any NaN inputs
#audi_data.isnull().any()
bmw_data.isnull().any()
ford_data.isnull().any()
hyundai_data.isnull().any()
merc_data.isnull().any()
skkoda_data.isnull().any()
toyota_data.isnull().any()
vauxhall_data.isnull().any()
vw_data.isnull().any()

carType     False
model       False
year        False
mpg         False
fuelType    False
price       False
mileage     False
dtype: bool

In [ ]:
# Merge the different data tables into one complete table
# Get the average MPG by car make, model, and year

merge_items = ["carType", "model", "year", "mpg", "fuelType", 'price', 'mileage']

# merge all the dataframes
cars_outer = audi_data.merge(bmw_data, on=merge_items, how="outer").merge(
    ford_data, on=merge_items, how="outer").merge(hyundai_data, on=merge_items, how="outer").merge(
        merc_data, on=merge_items, how="outer").merge(skkoda_data, on=merge_items, how="outer").merge(
            toyota_data, on=merge_items, how="outer").merge(vauxhall_data, on=merge_items, how="outer").merge(
                vw_data, on=merge_items, how="outer")

# random sample from merged dataframe
cars_outer = cars_outer.sample(n=200)

cars_outer

# Groupby car make, model, and year to get the average MPG
# Plot to see distribution of mpg amongst random car makes and models
# cars_outer.groupby(['carType', 'model', 'year'])[['mpg']].mean().plot.hist(bins=25)

In [332]:
def calculate_total_expected_cost():
    while True:
      # getting car type
      carType = input("Enter the car type (Audi/BMW/Ford/Mercedes/Hyundai/Skkoda/Toyota/Vauxhall/Volkswagen) or enter other if not in the list: ")
      
      if carType.lower() == 'other':
          year = float(input("Enter the car's year (Format: 2023): "))
          mileage = float(input("Enter the car's mileage (Format: 1000): "))
          miles = float(input("Enter the estimated miles of the trip (Format: 1000): "))
          mpg = float(input("Enter the car's mpg (Format: 55.0): "))
          fuel_type = input("Enter the car's fuel type: ")
          break
      
      # getting car model
      models = list(cars_outer.loc[cars_outer['carType'] == carType, 'model'].unique())

      if len(models) == 0:
          print("No cars of the selected model found in the dataset.")
          return
      print("Please select from the list of available models for selected car type or choose other: ", models)
      
      while True:
        model = input("Enter the car's model: ")

        if model.lower() == 'other':
          year = float(input("Enter the car's year (Format: 2023):"))
          mileage = float(input("Enter the car's mileage (Format: 1000): "))
          miles = float(input("Enter the estimated miles of the trip (Format: 1000):"))
          mpg = float(input("Enter the car's mpg (Format: 55.0):"))
          fuel_type = input("Enter the car's fuel type: ")
          break
        elif model in models:
          break
        else:
          print("Invalid model. Please select from the list of available models for selected car type or choose other: ", models)

      if model.lower() == 'other':
        break
      
      # getting years
      years = list(cars_outer.loc[(cars_outer['carType'] == carType) & (cars_outer['model'] == model), 'year'].unique())

      if len(years) == 0:
          print("No cars of the selected make and model found in the dataset.")
          return
      print("Please select from the available years for selected car type and model or choose other: ", years)
      
      while True:

        year = input("Enter the car's year (Format: 2023): ")
        
        if year.lower() == "other":
          year = 2020
          mileage = float(input("Enter the car's mileage (Format: 1000): "))
          miles = float(input("Enter the estimated miles of the trip (Format: 1000): "))
          mpg = float(input("Enter the car's mpg (Format: 55.0): "))
          fuel_type = input("Enter the car's fuel type: ")
          break
        
        if year.isdigit() and float(year) not in years:
          year = float(year)
          mileage = float(input("Enter the car's mileage (Format: 1000): "))
          miles = float(input("Enter the estimated miles of the trip (Format: 1000): "))
          mpg = float(input("Enter the car's mpg (Format: 55.0): "))
          fuel_type = input("Enter the car's fuel type: ")
          break

        if year.isdigit() and float(year) in years:
          year = float(year)
          break
        else:
          print("Invalid input. Please enter the car's year (Format: 2023): ", years)

      year_string = str(year)
      if year_string.lower() == 'other':
        break
      
      if year not in years:
        break

      # getting mileage
      mileage_list = list(cars_outer.loc[(cars_outer['carType'] == carType) & (cars_outer['model'] == model) & (cars_outer['year'] == year), 'mileage'].unique())

      # Check the variable name used in the condition
      if len(mileage_list) == 0:
        print("Invalid response, please enter input or unknown.")
        return

      print("Please select from the available estimated mileage for selected car type or other: ", mileage_list)

      while True:
        mileage = input("Enter the car's mileage: ")

        if mileage.lower() == "unknown" or mileage == 0:
            mileage = cars_outer.loc[(cars_outer['model'] == model) & (cars_outer['year'] == year) & (cars_outer['carType'] == carType), 'mileage'].median()
            break
        elif mileage.lower() == "other":
            mileage = float(input("Enter the car's mileage (Format: 1000): "))
            miles = float(input("Enter the estimated miles of the trip (Format: 1000): "))
            mpg = float(input("Enter the car's mpg (Format: 55.0): "))
            fuel_type = input("Enter the car's fuel type: ")
            break
        elif mileage.isdigit() and float(mileage) not in mileage_list:
            mileage = float(input("Enter the car's mileage (Format: 1000): "))
            miles = float(input("Enter the estimated miles of the trip (Format: 1000): "))
            mpg = float(input("Enter the car's mpg (Format: 55.0): "))
            fuel_type = input("Enter the car's fuel type: ")
            break
        elif mileage.isdigit() and float(mileage) in mileage_list:
            mileage = float(mileage)
            break
        else:
            print("Invalid response. Please enter input unknown. Please select from the available estimated mileage for selected car type or other: ", mileage_list)

      mileage_string = str(mileage)
      if mileage_string.lower() == 'other':
        break

      if mileage not in mileage_list:
        break

      # getting miles of the trip
      while True:
        miles = input("Enter the estimated miles of the trip or choose other: ")
        
        if miles.lower() == "unknown" or miles == 0:
            # add loc from other dataset
            # miles = cars_outer.loc[(cars_outer['model'] == model) & (cars_outer['year'] == year) & (cars_outer['carType'] == carType), 'mileage'].median()
            print("fix this")
            break
        elif miles.lower() == "other":
            miles = float(input("Enter the estimated miles of the trip (Format: 1000): "))
            mpg = float(input("Enter the car's mpg (Format: 55.0): "))
            fuel_type = input("Enter the car's fuel type: ")
            break
        elif miles.isdigit():
            miles = float(miles)
            break
        else:
            print("Invalid response. Please enter estimated miles for trip or choose other: ")
        
      miles_string = str(miles)
      if miles_string.lower() == 'other':
        break
      
      # getting mpg
      mpg_list = list(cars_outer.loc[(cars_outer['model'] == model) & (cars_outer['year'] == year) & (cars_outer['carType'] == carType), 'mpg'].unique())

      if len(mpg_list) == 0:
        print("Invalid response, please enter a valid input or unknown if not known.")
        return

      print("Please select from the available estimated mpg for selected car type or choose other: ", mpg_list)

      while True:
        mpg = input("Enter the car's mpg: ")

        if mpg.lower() == "other":
            mpg = float(input("Enter the car's mpg (Format: 55.0): "))
            fuel_type = input("Enter the car's fuel type: ")
            break
        elif mpg.lower() == "unknown" or mpg == 0:
            mpg = cars_outer.loc[(cars_outer['model'] == model) & (cars_outer['year'] == year) & (cars_outer['carType'] == carType), 'mpg'].median() 
            break
        elif mpg.replace('.', '', 1).isdigit() and float(mpg) not in mpg_list:
            mpg = float(input("Enter the car's mpg (Format: 55.0): "))
            fuel_type = input("Enter the car's fuel type: ")
            break
        elif mpg.replace('.', '', 1).isdigit() and float(mpg) in mpg_list:
            mpg = float(mpg)
            break
        else:
            print("Invalid response. Please select from the available estimated mpg for selected car type or choose other: ", mpg_list)
      
      mpg_string = str(mpg)
      if mpg_string.lower() == 'other':
        break

      if mpg not in mpg_list:
        break
      
      # getting fuel type
      fuel_types = list(cars_outer.loc[(cars_outer['model'] == model) & (cars_outer['year'] == year) & (cars_outer['carType'] == carType), 'fuelType'].unique())

      if len(fuel_types) == 0:
          print("Invalid response. Please enter a valid fuel type or unknown if not known.")
          return

      print("Please select from the available fuel types, enter your own fuel type or choose other: ", fuel_types)
      
      while True:
        fuel_type = input("Enter the car's fuel type: ")

        if fuel_type.lower() == 'other':
          fuel_type = input("Enter the car's fuel type: ")
          break
        elif fuel_type.lower() == 'unknown':
          fuel_type = cars_outer.loc[(cars_outer['model'] == model) & (cars_outer['year'] == year) & (cars_outer['carType'] == carType), 'fuelType'].mode()
          break
        elif fuel_type.lower() == 'diesel' or 'regular' or 'hybrid':
          fuel_type
          break
        else:
          print("Invalid response. Please select from the available fuel types, enter your own fuel type or choose other: ", fuel_types)

      break

    # calculate fuel cost
    gallons_of_fuel = miles / mpg
    fuel_cost_per_gallon = {'Regular': 2.8, 'Diesel': 3.1, 'Hybrid': 2.5}[fuel_type]
    fuel_cost = gallons_of_fuel * fuel_cost_per_gallon
    
    # calculate depreciation cost
    age = 2023 - year
    
    if age < 5 and mileage < 55000:
        depreciation_cost = miles * 0.08
    elif age > 5 and mileage < 55000:
        depreciation_cost = miles * 0.1
    elif age < 5 and mileage > 55000:
        depreciation_cost = miles * 0.1
    else:
        depreciation_cost = miles * 0.12
    
    # calculate maintenance cost
    maintenance_cost = 0.09 * miles

    total_cost = fuel_cost + depreciation_cost + maintenance_cost
    
    rounded_cost = round(total_cost, 2)

    return (rounded_cost)

depreciation work cited --> https://www.ramseysolutions.com/saving/car-depreciation#:~:text=After%20one%20year%2C%20your%20car,around%2060%25%20of%20its%20value.

maintenance work cited --> https://www.thebalancemoney.com/average-car-maintenance-cost-4775765#:~:text=According%20to%20a%20study%20by,%2C%20tire%20rotation%2C%20and%20more.

In [337]:
calculate_total_expected_cost()

Enter the car type (Audi/BMW/Ford/Mercedes/Hyundai/Skkoda/Toyota/Vauxhall/Volkswagen) or enter other if not in the list: Audi
Please select from the list of available models for selected car type or choose other:  ['A3', 'Q2', 'Q3', 'A6', 'A1', 'A5', 'A4', 'TT']
Enter the car's model: TT
Please select from the available years for selected car type and model or choose other:  [2017]
Enter the car's year (Format: 2023): 2017
Please select from the available estimated mileage for selected car type or other:  [22299]
Enter the car's mileage: 22299
Enter the estimated miles of the trip or choose other: 20
Please select from the available estimated mpg for selected car type or choose other:  [47.1]
Enter the car's mpg: 47.1
Please select from the available fuel types, enter your own fuel type or choose other:  ['Regular']
Enter the car's fuel type: other
Enter the car's fuel type: Diesel

5.12

#
 Not Needed

Gas prices --> https://www.eia.gov/petroleum/gasdiesel/

In [124]:
# data set of uber data
os.chdir('/content/downloads')
data = pd.read_csv("uber.csv")
data

,Unnamed: 0,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5
...,...,...,...,...,...,...,...,...,...
199995,42598914,2012-10-28 10:49:00.00000053,3.0,2012-10-28 10:49:00 UTC,-73.987042,40.739367,-73.986525,40.740297,1
199996,16382965,2014-03-14 01:09:00.0000008,7.5,2014-03-14 01:09:00 UTC,-73.984722,40.736837,-74.006672,40.739620,1
199997,27804658,2009-06-29 00:42:00.00000078,30.9,2009-06-29 00:42:00 UTC,-73.986017,40.756487,-73.858957,40.692588,2
199998,20259894,2015-05-20 14:56:25.0000004,14.5,2015-05-20 14:56:25 UTC,-73.997124,40.725452,-73.983215,40.695415,1
199999,11951496,2010-05-15 04:08:00.00000076,14.1,2010-05-15 04:08:00 UTC,-73.984395,40.720077,-73.985508,40.768793,1

Downloading dataset above, consists of 200000 uber rides, with important variables pickup/dropoff longitude/latitude, price, and datetime.

We likely will not use this dataset until later on.

In [ ]:
import seaborn as sns
import matplotlib.pyplot as plt

### **LEARNING ABOUT THE DATASETS**

In [ ]:
# data set of uber and lyft data
os.chdir('/content/downloads')
rs_data = pd.read_csv("rideshare_kaggle.csv")
rs_data

Downloading ridehsare data from Boston, MA during November 26, 2018 until December 18, 2018.  Comprehensive dataset with price, distance, pickup/dropoff, weather, etc.

In [ ]:
rs_data.dtypes

Checking variable types of dataset.

In [ ]:
import matplotlib.pyplot as plt
import numpy as np

# summary statistics on Lyft and Uber 
lyft_prices = rs_data.loc[rs_data["cab_type"] == "Lyft"]['price']
uber_prices = rs_data.loc[rs_data["cab_type"] == "Uber"]['price']

print('Lyft summary statistics\n', lyft_prices.describe(),'\n')
print('Uber summary statistics\n', uber_prices.describe())

Summary statistics of Uber vs Lyft prices - not super relevant, just interesting.

In [ ]:
def ride_cost(distance, mpg):
  gasoline_cost = (distance / (mpg/2))*3
  maintenance_cost = .10*distance
  depreciable_cost = .10*distance
  total_cost = gasoline_cost + maintenance_cost + depreciable_cost
  return(total_cost)

ridecost = []

for i in rs_data['distance']:
  ridecost.append(ride_cost(i, 20))

rs_data['ridecost'] = ridecost
rs_data['profit'] = rs_data['price'] - rs_data['ridecost']
pricesdata = rs_data[['price','ridecost','profit']]
pricesdata

Barebones cost function implemented into a table containing price, ridecost, and expected profit.  Major improvements coming to this function in the future.